@page "/academy"
@using Microsoft.EntityFrameworkCore
@using System.Text.RegularExpressions;
@using Website.Data
@using Markdig
@inject IDbContextFactory<WebsiteContext> ContextFactory
@inject IvaoApiService Api
@inject NavigationManager NavManager

<Authenticated>
	@{
		_ = GetTrainingPathAsync(context);
	}

	@if (tp is null)
	{
		<div class="container mt-4">
			<h1>No Trainings</h1><br />
			<p>You don't have any trainings in progress. Ask your trainer to add you if you're expecting something here.</p>
		</div>
	}
	else if (Path.GetExtension(tp) == ".md")
	{
		<div class="container my-4">
			@Training(tp)

			<div class="row mt-4">
				@if (trainingIdx > 0)
				{
					<button class="btn btn-secondary col-2 me-2" @onclick="_ => Prev(context)">Previous</button>
				}

				<button class="btn btn-primary col-2" @onclick="_ => Next(context)">Next</button>
			</div>
		</div>
	}
	else if (trainingIdx > 0)
	{
		<AcademyExam FilePath="@tp" Next="() => Next(context)" Prev="() => Prev(context)" />
	}
	else
	{
		<AcademyExam FilePath="@tp" Next="() => Next(context)" />
	}
</Authenticated>

@code {
	private string? tp { get; set; } = null;
	private int trainingIdx = 0;

	private async Task GetTrainingPathAsync(User trainee)
	{
		if (tp is not null)
			return;

		var context = await ContextFactory.CreateDbContextAsync();
		var trainingReq = await context.TrainingRequests.AsNoTracking().FirstOrDefaultAsync(tr => tr.Trainee == trainee.Vid);

		if (trainingReq is null)
			return;

		if (!int.TryParse(trainingReq.Comments.Split('/')[0], out trainingIdx))
			return;

		tp = Directory.GetFiles(
				Path.Join(
					"training",
					"data",
					trainingReq.AtcRating is null ? Enum.GetName(trainingReq.PilotRating!.Value) : Enum.GetName(trainingReq.AtcRating!.Value)
				),
				$"{trainingIdx + 1}.*"
			).SingleOrDefault();

		await InvokeAsync(StateHasChanged);
	}

	private async void Next(User trainee)
	{
		var context = await ContextFactory.CreateDbContextAsync();
		var trainingReq = await context.TrainingRequests.FirstOrDefaultAsync(tr => tr.Trainee == trainee.Vid);

		if (trainingReq is null)
			return;

		if (!int.TryParse(trainingReq.Comments.Split('/')[0], out trainingIdx))
			trainingIdx = 0;

		trainingIdx += 1;

		int totalTrainings = Directory.GetFiles(
			Path.Join(
				"training",
				"data",
				trainingReq.AtcRating is null ? Enum.GetName(trainingReq.PilotRating!.Value) : Enum.GetName(trainingReq.AtcRating!.Value)
			)).Length;

		trainingReq.Comments = Math.Min(trainingIdx, totalTrainings) + "/" + totalTrainings;

		await context.SaveChangesAsync();
		tp = null;

		if (trainingIdx >= totalTrainings)
			NavManager.NavigateTo("/", true);

		await InvokeAsync(StateHasChanged);
	}

	private async void Prev(User trainee)
	{
		var context = await ContextFactory.CreateDbContextAsync();
		var trainingReq = await context.TrainingRequests.FirstOrDefaultAsync(tr => tr.Trainee == trainee.Vid);

		if (trainingReq is null)
			return;

		if (!int.TryParse(trainingReq.Comments.Split('/')[0], out trainingIdx))
			trainingIdx = 1;

		trainingIdx -= 1;

		trainingReq.Comments = Math.Max(0, trainingIdx) + "/" + Directory.GetFiles(
			Path.Join(
				"training",
				"data",
				trainingReq.AtcRating is null ? Enum.GetName(trainingReq.PilotRating!.Value) : Enum.GetName(trainingReq.AtcRating!.Value)
			)).Length;

		await context.SaveChangesAsync();
		tp = null;
		await InvokeAsync(StateHasChanged);
	}

	private MarkupString Training(string filepath)
	{
		MarkdownPipeline mp = new MarkdownPipelineBuilder().UseBootstrap().UseAdvancedExtensions().Build();
		return (MarkupString)Markdig.Markdown.ToHtml(File.ReadAllText(filepath), mp);
	}
}
