.track {
    border-radius: 5px;
    background-color: #33363A;
}

.eastbound {
    width: 48%;
    border-radius: 5px;
}

.westbound {
    width: 48%;
    border-radius: 5px;
}

.bound-label {
    margin: auto;
    height: 28px;
}

    .bound-label > span {
        position: relative;
        top: 10px;
    }

.status {
    margin-top: auto;
    margin-bottom: auto;
    width: 12px;
    height: 12px;
    border-radius: 4px;
}

.status.big {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

.color-east {
    background-color: #EBC64B;
}

.color-west {
    background-color: #3D7AF8;
}