@page "/"
@using Microsoft.EntityFrameworkCore.Internal
@using Website.Data

<div class="container gap-5">
    <div class="row">
        <ActiveControllers />
    </div>

    <div class="row">
        <FullwidthContainer Class="text-center">
            <ContainerColumn>
                <span class="oi oi-terminal" style="font-size: 4.5rem;" />
                <h3>Fully Responsive</h3>
                <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
            </ContainerColumn>
            <ContainerColumn>
                <span class="oi oi-terminal" style="font-size: 4.5rem;" />
                <h3>Bootstrap 5 Ready</h3>
                <p class="lead mb-0">Featuring the latest build of the new Bootstrap 5 framework!</p>
            </ContainerColumn>
            <ContainerColumn>
                <span class="oi oi-terminal" style="font-size: 4.5rem;" />
                <h3>Easy to Use</h3>
                <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
            </ContainerColumn>
        </FullwidthContainer>
    </div>
</div>