@page "/register/{SnowflakeStr}"
@using Microsoft.EntityFrameworkCore
@using Website.Data
@inject IDbContextFactory<WebsiteContext> ContextFactory
@inject NavigationManager NavManager
@inject DiscordService Discord
@inject IvaoApiService IvaoApi

<Authenticated>
    <ChildContent>
        @if (snowflake == 0)
        {
            <span>
                Hmm, something didn't work. Try again maybe?
            </span>
        }
        else
        {
            RegisterUser(context);
            <span>
                Hello, @context.Name! Thanks for registering with our Discord! Standby to be redirected to our homepage.
            </span>
        }
    </ChildContent>
    <Loading>
        Registering&hellip;
        (If this page doesn't change in 30 seconds, please refresh)
        @{
            _ = Task.Run(async () => { await Task.Delay(TimeSpan.FromSeconds(5)); await InvokeAsync(StateHasChanged); });
        }
    </Loading>
</Authenticated>

@code {
    [Parameter]
    public string SnowflakeStr { get; set; } = "";

    private ulong snowflake;
    private SemaphoreSlim _userSet = new(0);
    private User? _user;

    protected override void OnParametersSet()
    {
        if (ulong.TryParse(SnowflakeStr, out ulong snowflake))
            this.snowflake = snowflake;

        base.OnParametersSet();
    }

    private void RegisterUser(User user)
    {
        if (snowflake == 0)
            return;

        if (_user is null)
        {
            _user = user;
            _userSet.Release();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _userSet.WaitAsync();

        if (_user is null)
        {
            _userSet.Release();
            return;
        }

        _ = Discord.SendMessageAsync(_user, $"Thanks for registering, your roles are being assigned and your account is being set-up.", 60000);
        var context = await ContextFactory.CreateDbContextAsync();
        _user = context.Users.Find(_user.Vid)!;
        _user.Snowflake = snowflake;
        await context.SaveChangesAsync();
        NavManager.NavigateTo("/", true);
        StateHasChanged();
        _ = Task.Run(async () =>
        {
            await Discord.EnforceRolesAsync(_user, IvaoApi);
            _ = Discord.SendMessageAsync(_user, $"Thanks for waiting, {_user.Name}! You should now have your roles.", 60000);
            _user = null;
            _userSet.Release();
        });
    }
}