@using Website.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@inject WhazzupService Whazzup

<FullwidthContainer>
    <ContainerColumn>
        <div class="align-middle text-center flex-column h-100">
            <span class="oi oi-audio text-primary display-1" />
            <p class="display-4">Who's On?</p>
        </div>
    </ContainerColumn>
    <ContainerColumn>
        <div class="rounded bg-secondary bg-gradient p-4 h-100">
            @if (_controllers?.Any() ?? false)
            {
                <table class="table table-borderless text-light">
                    <thead>
                        <tr>
                            <th scope="col">Callsign</th>
                            <th scope="col">Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var context in _controllers)
                        {
                            <tr>
                                <th scope="row" href="https://webeye.ivao.aero/?airportId=@context.Callsign.Split('_').FirstOrDefault()" title="@string.Join(Environment.NewLine, context.Atis?.Lines ?? Array.Empty<string>())">@context.Callsign</th>
                                <td>@context.AtcSession.Frequency.ToString("000.0##")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {

            }
        </div>
    </ContainerColumn>
</FullwidthContainer>

@code {
    IEnumerable<ATC>? _controllers = null;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
            return;

        Timer t = new(async _ => await UpdateAsync(), null, 0, 5000);
    }

    async Task UpdateAsync()
    {
        _controllers = (await Whazzup.GetFeedAsync())?.Clients.Atcs.Where(c => WhazzupService.IsXAPosition(c.Callsign));
        await InvokeAsync(StateHasChanged);
    }
}
