@using Website.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@inject WhazzupService Whazzup

<FullwidthContainer FlexClass="align-items-stretch">
    <ContainerColumn>
        <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
            <span class="oi oi-audio text-primary display-1" />
            <p class="display-4">Who's On?</p>
        </div>
    </ContainerColumn>
    <ContainerColumn>
        <div class="rounded bg-secondary bg-gradient p-4 h-100">
            <div class="d-flex flex-wrap justify-content-evenly align-items-center h-100">
                @foreach (var ctrlr in XAControllers?.Any() ?? false ? XAControllers : _controllers ?? Array.Empty<ATC>())
                {
                    <a href="https://ivao.aero/member?ID=@(ctrlr.UserId)" class="m-1">
                        <img src="https://status.ivao.aero/@(ctrlr.UserId).png?time=@(DateTime.UtcNow.Ticks)" title="@string.Join(Environment.NewLine, ctrlr.Atis?.Lines ?? Array.Empty<string>())" />
                    </a>
                }
            </div>
        </div>
    </ContainerColumn>
</FullwidthContainer>

@code {
    IEnumerable<ATC>? _controllers = null;
    IEnumerable<ATC>? XAControllers => _controllers?.Where(c => WhazzupService.IsXAPosition(c.Callsign));

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
            return;

        Timer t = new(async _ => await UpdateAsync(), null, 0, 5000);
    }

    async Task UpdateAsync()
    {
        _controllers = (await Whazzup.GetFeedAsync())?.Clients.Atcs;
        await InvokeAsync(StateHasChanged);
    }
}
