<div class="col-lg-@(12 / Parent.Columns.Count)">
    <div class="mx-auto h-100">
        @ChildContent
    </div>
</div>

@code {
    [CascadingParameter]
    private FullwidthContainer Parent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        if (Parent is null)
            throw new ArgumentNullException(nameof(Parent), "Container column must exist within a fullwidth container.");

        base.OnInitialized();

        Parent.AddColumn(this);
    }
}