<section class="@Class">
	<div class="@ContainerClass">
		<div class="row d-flex flex-row @FlexClass">
			<CascadingValue Value="this">
				@ChildContent
			</CascadingValue>
		</div>
	</div>
</section>

@code {
#pragma warning disable CS8618
	[Parameter]
	public RenderFragment ChildContent { get; set; }
#pragma warning restore CS8618

	[Parameter]
	public string Class { get; set; } = "";

	[Parameter]
	public string ContainerClass { get; set; } = "container";

	[Parameter]
	public string FlexClass { get; set; } = "";

	internal List<ContainerColumn> Columns { get; } = new();

	internal void AddColumn(ContainerColumn column)
	{
		Columns.Add(column);
		StateHasChanged();
	}
}