@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>IVAO North America</PageTitle>

<div class="d-flex flex-column justify-content-between h-100">
    <NavBar />
    <div class="flex-fill d-flex">
        @Body
    </div>
    <Footer />
</div>