::deep .nav-link {
    color: #6c757d!important;
}

    ::deep .nav-link.active {
        color: #f8f9fa!important;
    }

a {
    text-decoration-line: none;
}

::deep .dropdown-item.active {
    background-color: rgb(52, 58, 64)!important;
}