.flightstrip {
    background-color: #525458;
    border-radius: 5px;
    white-space: nowrap;
    height: 40px;
}

.btn-datalink {
    width: 6px;
    height: 80%;
}

    .btn-datalink.connected {
        background-color: #5EBAC4;
    }

    .btn-datalink.disconnected {
        background-color: #ED5076;
    }

.callsign {
    margin: auto;
}

.num-input {
    margin: auto;
    top: 0px;
    bottom: 0px;
    width: 5.5em;
}

.clickable {
    cursor: pointer;
}

.time-input {
    width: 3em;
    flex: 0 0 auto;
}

.eastbound .direction-west:not(.direction-east) {
    display: none !important;
}

.westbound .direction-east:not(.direction-west) {
    display: none !important;
}

input {
    background-color: #6C6E71 !important;
    color: #FFFFFF !important;
}

    input.form-control {
        color: #FFFFFF !important;
    }
