@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>OCMS</PageTitle>

<div class="d-flex flex-column flex-fill text-body bg-body" data-bs-theme="dark" style="min-height: 100%;">
    @Body
</div>